<div class="shopping-cart">
  <div class="title">
    Summary
  </div>
  <div class="item">
    <span>Resumen</span>
    <span class="price">$ {{ subtotal }}</span>
  </div>
  <div class="item promotion">
    <span>Promoción
      <span class="tooltiptext"> {{ promotionDescription }}</span>
    </span>
    <span class="price">$ {{ promotion }}</span>
  </div>
  <div class="item">
    <span>Descuento método de pago</span>
    <span class="price">$ {{ paymentDiscount }}</span>
  </div>
  <div class="item">
    <span>Total</span>
    <span class="price">$ {{ total }}</span>
  </div>
  <div class="payment-container">
    <span *ngIf="this.shouldApply10Off()" class="extra-discount">
      -10%
    </span>
    <select class="payment" name="payment" id="payment" [(ngModel)]="selectedPaymentMethod" (ngModelChange)="updatePaymentMethodStatus()">
      <option value="" disabled selected>Seleccionar método de pago</option>
      <option value="Visa">Visa</option>
      <option value="MasterCard">MasterCard</option>
      <option value="Banco Santander">Banco Santander</option>
      <option value="Banco ITAU">Banco ITAU</option>
      <option value="Banco BBVA">Banco BBVA</option>
      <option value="Paypal">Paypal</option>
      <option value="Paganza">Paganza </option>
    </select>
  </div>
  <div class="btn">
    <button class="button" type='submit' (click)="createSale()" [disabled]="isLoading">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Checkout</span>
    </button>
  </div>
  <p class="continue"> or <span class="link-to-home" (click)="goToHome()">continue shopping</span></p>
</div>