<app-header></app-header>
<div class="wrapper">
  <div class="admin-container">
    <div class="titulo-main"><h1>Administracion de Productos</h1>
      <button class="button" (click)="createProduct()" mat-raised-button color="primary">Crear Producto</button>

    </div>
    <div *ngIf="isLoading" class="info-message">Loading...</div>
    <div *ngIf="!hasProducts && !isLoading" class="info-message">No tienes productos, crea alguno!</div>

    <div *ngIf="hasProducts">
    <div *ngIf="!isMobile" class="line">
      <div class="flex-item-title"></div>
      <div class="middle-info">
        <div class="flex-item">Marca</div>
        <div class="flex-item">Precio</div>
        <div class="flex-item">Stock</div>
      </div>
      <div [ngClass]="{'actions': true, 'web-actions': !isSmallScreen, 'mobile-actions': isSmallScreen }">
        <div></div><div></div><div></div>
      </div>
    </div>

    <div class="product-card" *ngFor="let product of products">
      <div class="flex-item-title"><h3>{{ product.name }}</h3></div>
      <div *ngIf="!isMobile" class="middle-info">
        <div class="flex-item">{{ product.brand.name }}</div>
        <div class="flex-item">${{ product.price }}</div>
        <div class="flex-item">5</div>
      </div>
      <div *ngIf="!isSmallScreen" class="actions web-actions">
        <div class="blue" (click)="seeProduct(product.id)" title="Inspeccionar">
          Ver <i class="fa fa-eye icon"></i>
        </div>
        <div class="blue" (click)="editProduct(product.id)" title="Editar">
          Editar <i class="fa fa-pencil icon"></i>
        </div>
        <div class="red" (click)="deleteProduct(product.id)" title="Eliminar">
          Borrar <i class="fa fa-trash icon"></i>
        </div>
      </div>
      <div *ngIf="isSmallScreen" class="actions mobile-actions">
        <div class="blue-mobile" (click)="seeProduct(product.id)" title="Inspeccionar">
          <i class="fa fa-eye icon"></i>
        </div>
        <div class="blue-mobile" (click)="editProduct(product.id)" title="Editar">
          <i class="fa fa-pencil icon"></i>
        </div>
        <div class="red-mobile" (click)="deleteProduct(product.id)" title="Eliminar">
          <i class="fa fa-trash icon"></i>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</div>
