<div class='container'>
  <div class='auth'>
    <div class='auth-main'>
      <h2>Log In</h2>
      <form class='auth-form' (ngSubmit)="login()">
        <p>Email</p>
        <input name="email" class='field' type="email" [(ngModel)]="email" required />
        <p>Password</p>
        <input name="password" class='field' type="password" [(ngModel)]="password" required />
        <button class="btn" type='submit' [disabled]="isLoading">
          <span *ngIf="isLoading">Loading...</span>
          <span *ngIf="!isLoading">Log In</span>
        </button>
      </form>
    </div>
    <p class='end-line'>Don't have an account? <a href="/register" class="submit">Register!</a></p>
  </div>
</div>