<app-header></app-header>

<div *ngIf="user" class="centered-div">
  <div class="product-card">
    <div class="header-div">
      <a routerLink="/admin/users" class="back-button">
        ← <span class="back-text">Volver</span>
      </a>
    </div>
    <h2>Editar Usuario</h2>
    
    <form *ngIf="updatedUser" (submit)="saveChanges(updatedUser)">
      <div class="attribute-line">
        <p class="label">Email:</p>
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="updatedUser.email" name="email" />
        </mat-form-field>
      </div>

      <div class="attribute-line">
        <p class="label">Dirección:</p>
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="updatedUser.address" name="address" />
        </mat-form-field>
      </div>
    
      <button class="button-margin" mat-raised-button type="submit" color="primary">Guardar Cambios</button>
    </form>
  </div>
</div>
