<div class='login'>
  <div class='login-main'>
    <h2>Sign Up</h2>
    <form class='login-form' (ngSubmit)="login()">
      <p>Email</p>
      <input name="email" class='field' type="email" required />
      <p>Password</p>
      <input name="password" class='field' type="password" required />
      <p>Password Confirmation</p>
      <input name="passwordConfirm" class='field' type="password" required />
      <button class="btn" type='submit'>Sign Up</button>
    </form>
  </div>
  <p class='end-line'>Already have an account? <a href="/register" class="register-submit">Register!</a></p>
</div>
