<div class='container'>
  <div class='auth'>
    <div class='auth-main'>
      <h2>Sign Up</h2>
      <form class='auth-form' (ngSubmit)="register()">
        <p>Email</p>
        <input name="email" class='field' type="email" [(ngModel)]="user.email" required />
        <p>Password</p>
        <input name="password" class='field' type="password" [(ngModel)]="user.password" required />
        <p>Confirm Password</p>
        <input name="confirmPassword" class='field' type="password" [(ngModel)]="confirmPassword" required />
        <p>Address</p>
        <input name="address" class='field' [(ngModel)]="user.adress" required />
        <button class="btn" type='submit' [disabled]="isLoading">
          <span *ngIf="isLoading">Loading...</span>
          <span *ngIf="!isLoading">Register</span>
        </button>
      </form>
    </div>
    <p class='end-line'>Already have an account? <a href="/login" class="submit">Log In!</a></p>
  </div>
</div>